<header id="top-anchor">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center mb-4">
            <div class="col-auto">
                <a routerLink="/pokemon" routerLinkActive="active-link" class="pokemon-link">Pokemon List</a>
            </div>
            <div class="col-auto text-center">
                <a routerLink="/pokemon">
                    <img src="PokeAPI Logo.png" alt="PokeAPI Logo" id="logo" width="250px">
                </a>
            </div>
            <div class="col-auto">
                <a routerLink="/items" routerLinkActive="active-link" class="item-link">Items</a>
            </div>
        </div>
    </div>
</header>