<a routerLink="/pokemon" class="pokemon-link">Pokemon List</a>
<div class="container-fluid">
    <div class="row row-cols-2 row-cols-md-4 g-4 px-5" id="pokemon-container">
        @for(item of itemList ; track item){
        <a href="" class="text-decoration-none text-dark">
          <div class="card shadow-lg h-100">
            <div class="card-body text-center">
              <h5><span class="badge badge-secondary mt-3 p-2 py-6 text-dark">{{item.name}}</span></h5>
              <div class="imagen-circulo shadow-lg">
                <img [src]="createImgUrl(item.name)" class="card-img-top" alt="{{ item.name }}">
              </div>
              <div class="p-3"></div>
            </div>
          </div>
        </a>
    }
    </div>
</div>